<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CocinaDominicana.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87BEE9D51D69EEA5004582F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87BEE9E91D69EEA5004582F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87BEE9F41D69EEA6004582F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
